@charset "utf-8";

#topnav .menu-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-gap: 5%;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

#topnav li a {
  color: white;
}

#topnav .menu-item:hover > a,
#topnav .menu-drop li a:hover,
#topnav .menu-container .active a {
  color: #022d63;
}

#topnav .menu-drop li a {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  padding: 6% 8%;
  color: #ffffff;
  background-color: rebeccapurple;
}

#topnav .menu-item {
  position: relative;
}
#topnav .menu-item .menu-drop {
  z-index: 10;
  position: absolute;
  display: none;
  height: auto;
  color: white;
  top: 100%;
  background: #022c7d9c;
  width: 130%;
}

#topnav .menu-item:hover .menu-drop {
  display: block;
}

/* ----------------------------------------------Column Navigation------------------------------------- */

.column .subnav {
  display: block;
  width: 250px;
  padding: 25px;
  background-color: #f9f9f9;
  margin-bottom: 30px;
}
.column .subnav h2 {
  margin: 0 0 20px 0;
  padding: 0 0 14px 0;
  font-size: 20px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #666666;
  background-color: #f9f9f9;
  line-height: normal;
  border-bottom: 1px dotted #666666;
}
.column .subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.column .subnav li {
  margin: 0 0 3px 0;
  padding: 0;
}
.column .subnav ul ul,
.column .subnav ul ul ul,
.column .subnav ul ul ul ul,
.column .subnav ul ul ul ul ul {
  border-top: none;
  padding-top: 0;
}
.column .subnav a {
  display: block;
  margin: 0;
  padding: 5px 10px 5px 20px;
  color: #666666;
  background: url("images/blue_file.gif") no-repeat 10px center #f9f9f9;
  text-decoration: none;
  border-bottom: 1px dotted #666666;
}
.column .subnav a:hover {
  color: #059bd8;
  background-color: #f9f9f9;
}
.column .subnav ul ul a,
.column .subnav ul ul ul a,
.column .subnav ul ul ul ul a,
.column .subnav ul ul ul ul ul a {
  background: url("images/black_file.gif") no-repeat #f9f9f9;
}
.column .subnav ul ul a {
  padding-left: 40px;
  background-position: 30px center;
}
.column .subnav ul ul ul a {
  padding-left: 50px;
  background-position: 40px center;
}
.column .subnav ul ul ul ul a {
  padding-left: 60px;
  background-position: 50px center;
}
.column .subnav ul ul ul ul ul a {
  padding-left: 70px;
  background-position: 60px center;
}
