* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; 
}

body {
    line-height: 1;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
a:active, a:hover {outline: 0;}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
*/

button, input, optgroup, select, textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
   outline: none;
   background-color: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer{cursor: pointer;}
  